
.button_risultato{
    width:70%;
    margin:auto;
    margin-bottom:30px;
}



.domandascura{

    background-color:transparent;
    border:2px solid #ffffff;
    padding:5px;
    width:70%;
    margin:auto;
    color:#ffffff;
text-align:left;
    font-size:18px;
    font-weight:400;
    font-family: 'Lato', sans-serif;
    margin-bottom:5px;


}

.linkchiaro{

    color:#ffffff;
}

.linkchiaro:hover{

    color:#ffffff;
}

.linkscuro{
    color:#24145e;
}

.linkscuro:hover{
    color:#24145e;
}


.domandachiara{

    background-color:#ffffff;
    border:2px solid #ffffff;
    padding:5px;
    width:70%;
    margin:auto;
    color:#24145e;
text-align:left;
    font-size:18px;
    font-weight:400;
    font-family: 'Lato', sans-serif;
    margin-bottom:5px;


}


h2{
    font-size:30px;
    font-family: 'Lato', sans-serif;
    font-weight:800;
    color:#ffffff;
    text-transform:uppercase;
    letter-spacing:1px;
}


.scopridipiu{
    width:100%;
    padding:8px;
    background-color:#e0144a;
    text-transform:uppercase;
    border:none;
    color:#ffffff;
    font-size:18px;
    font-weight:700;
    font-family: 'Lato', sans-serif;
    letter-spacing:1px;
    margin-top:20px;

}

.rifaiquiz{
    width:100%;
    padding:8px;
    background-color:#575757;
    text-transform:uppercase;
    border:none;
    color:#ffffff;
    font-size:18px;
    font-weight:700;
    font-family: 'Lato', sans-serif;
    letter-spacing:1px;
    margin-top:20px;

}

.scopririsposte{
    width:100%;
    padding:8px;
    background-color:#24145e;
    text-transform:uppercase;
    border:none;
    color:#ffffff;
    font-size:18px;
    font-weight:700;
    font-family: 'Lato', sans-serif;
    letter-spacing:1px;
    margin-top:20px;

}



p{
    font-size:16px;
    font-family: 'Lato', sans-serif;
    color:#666666;
    font-weight:400;
    width:85%;
    margin:auto;


}


h3{

    font-size:22px;
    font-family: 'Lato', sans-serif;
    font-weight:800;
    color:#24145e;
    text-transform:uppercase;
    letter-spacing:1px;

}


.sfondorisultato{


    background-size:cover;
    height:auto;
    width:100%;
    padding:30px;
}

.box_tell_me{
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */

    width:70%;
    margin:auto;
    text-align:center;
    margin-top:80px;
    padding:10px;
    padding-bottom:30px;


}


.titoloris{

    font-size:30px;
    color:#ffffff;
    font-weight:bold;
    font-family: 'Lato';

}

.testoris{
    font-size:18px;
    color:#ffffff;
    text-align:center;
    font-family: 'Lato';
    width:70%;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
}

.risultatobox{

    border-bottom:2px solid #ffffff;
    width:70%;
    margin:auto;
    padding:5px;
}

.container_ris{

    width:60%;
    margin:auto;
    height:auto;
    border:20px solid red;
    -webkit-border-image: url('../img/border_ris/border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../img/border_ris/border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('../img/border_ris/border.png') 30 round;
    text-align:center;

}

.box_social{

    width:60%;
    margin:auto;
    height:auto;
    text-align:center;
    margin-bottom: 40px;


}

.sfondobox_dentro{

    background-size:cover;
    background-repeat:no-repeat;
    padding:20px;
}




.container{

    padding:5px;
    border:20px solid #ffffff;
    top:50%;
    margin-top:-250px;
    left:50%;
    margin-left:-500px;
    position:absolute;

    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    max-width:1000px;
    max-height:500px;
    -webkit-border-image: url('../img/cornice-home.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../img/cornice-home.png') 30 round; /* Opera 11-12.1 */
    border-image: url('../img/cornice-home.png') 30 round;


}

.container_alto{

    padding:5px;
    z-index:10;
    position:absolute;
    left: 50%;
    margin-right: auto;
    margin-left: -550px;
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    width:1100px;


}


.container_basso{

    padding:5px;
    position:absolute;
    left: 50%;
    margin-right: auto;
    margin-left: -550px;
    bottom:0;
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    width:1100px;


}


.imgtitolobox{

    max-width:70%;

}

.border-interno{

    padding-top:20px;
    padding-bottom:40px;
    padding-left:10px;
    padding-right:10px;
    background-image: url('../img/copertina_home.png');
    background-size:cover;
    height:auto;
}

.text-box{
    font-size:18px;
    letter-spacing:1px;
    max-width:100%;
    margin:auto;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    font-weight:300;
}

.button_home{
    padding:10px;
    border:2px solid #ffffff;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif;
    font-weight:700;
    background-color:transparent;
    color:#ffffff;
    font-size:20px;
    margin-top:30px;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;

}

.button_home:hover{
    padding:10px;
    border:2px solid #ffffff;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif;
    font-weight:700;
    background-color:#ffffff;
    color:#24145e;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
    font-size:20px;
    margin-top:30px;
}

.imglogoalto{
    max-width:300px;
    margin-top:10px;
}

.imglogobasso{
    max-width:200px;
}


@media screen and (max-width:1600px) {



    .scopridipiu{width:100%;font-size:15px;  }
    .rifaiquiz{width:100%;font-size:15px;}

    .scopririsposte{width:100%;font-size:15px;}

}


@media screen and (max-width:1400px) {

    .imglogoalto{
        max-width:250px;

    }



}

@media screen and (max-width:1100px){
    .domandascura{width:100%;}
    .domandachiara{width:100%;}

    .button_risultato{
        width:100%;
        margin:auto;
    }


    .container{

        margin-left:0px;
        left:0;
        height:auto;

    }
    .container_ris{width:100%;}

    .box_tell_me{width:100%;}
    .box_social{width:100%;}

    .container_alto{

        padding:5px;

        width:100%;
        position:relative;
        text-align:center;
        margin-left:0px;
        left:0;


    }

    .container_basso{

        padding:5px;

        width:100%;

        text-align:center;
        margin-left:0px;
        left:0;


    }

    .scopridipiu{width:100%;font-size:15px;  }
    .rifaiquiz{width:100%;font-size:15px;}

    .scopririsposte{width:100%;font-size:15px;}

}



@media (min-width: 768px){

    .container {
        width: 100% !important;
    }





}


@media screen and (max-width:700px){


    .button_risultato{
        width:100%;
        margin:auto;
        margin-bottom:30px;
    }



    h2{
        font-size:20px;
    }
    .domandascura{width:100%;}
    .domandachiara{width:100%;}

    .box_tell_me{
        margin-top:60px;
        width:100%;
    }

    .scopridipiu{width:100%;font-size:15px;  }
    .rifaiquiz{width:100%;font-size:15px;}

    .scopririsposte{width:100%;font-size:15px;}

    .imgtitolobox{ max-width:80%;}
    .button_home{font-size:16px;}
    .border-interno{

        padding-top:20px;
        padding-bottom:20px;
    }

    .imglogobasso{

        max-width:120px;
    }

    .imglogoalto{

        max-width:150px;
    }

    .container {
        max-height:400px;
        margin-top:-200px;
    }

    .text-box {
        font-size: 14px;
    }

    .button_home {

        font-size: 14px;

    }

    .button_home:hover{

        font-size:14px;

    }

    .sfondorisultato{

        background-image: url('../img/sfondo_ris/astemio.jpg');
        background-size:cover;
        height:auto;
        width:100%;
        padding:10px;
    }

    .risultatobox{
        width:100%;
    }

    .container_ris{width:100%;}
    .box_social{  width:100%;  }
    .testoris{width:95%;}
    .titoloris{font-size:20px;}
    .testoris{  font-size:16px;}

}

@media screen and (max-width:500px){
    .col-md-6{

        float:none !important;
        display:block;
        width:100% !important;
    }
    .box_tell_me{
        margin-top:0px;
        width:100%;
    }

}

@media screen and (min-width:1600px) and (min-height:850px){
    .sfondorisultato{  height:100%;  }

}
